<div id="search">
    <div id="logo">
        <span>D!</span>
    </div>
    <div id="heading">
        {{title}}
    </div>
   
    
    <div id="dropdown">
        <select (change)="handleCity($event)">
            <option value="default">--SELECT YOUR CITY--</option>
            <option *ngFor="let loc of locationData" [value]="loc.state_id">
                {{loc.state}}
            </option>
        </select>
        <select id="restaurants">
            <option value="default">--SELECT YOUR Restaurants--</option>
            <option *ngFor="let rest of restaurants" [value]="rest.restaurant_id">
                {{rest.restaurant_name}}-{{rest.address}}
            </option>
        </select>
    </div>
</div>


<!-- <div style="font-size:30px">
    <input [(ngModel)]="userText"/>
    <p style="color:white;">
        {{userText}}
    </p>
    
</div> -->