<div class="container">
    <hr/>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Employee Form
        </div>
        <div class="panel-body">
            
            <button mat-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Assignee</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <form #form="ngForm" (submit)="submitForm(form)">
                <div class="form-group" [class.has-error]="firstname.invalid && firstname.touched">
                    <label for="fname" class="control-label">First Name</label>
                    <input type="text" class="form-control"
                    name="firstName" required
                    (ngModelChange) = "firstToUpper($event)"
                    [ngModel]="myEmployee.firstName"
                    #firstname="ngModel"
                    />
                    <div class="alert alert-danger" *ngIf="firstname.invalid && firstname.touched">
                        FirstName is required
                    </div>
                </div>
                <!-- <div>
                    <h4>Classes</h4>
                    <h3>{{firstname.invalid}}</h3>
                   <h3>{{firstname.className}}</h3>
                </div> -->
                <div class="form-group">
                    <label for="lname" class="control-label">Last Name</label>
                    <input type="text" class="form-control"
                    name="lastName"
                    [(ngModel)]="myEmployee.lastName"/>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="mail.invalid && mail.dirty">
                            <label for="fname" class="control-label">Email</label>
                            <input type="text" class="form-control"
                            name="email"
                            pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})$"
                            [(ngModel)]="myEmployee.email"
                            #mail="ngModel"
                            />
                            <div class="alert alert-danger" *ngIf="mail.invalid && mail.dirty">
                                Please Enter Valid Email
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="pass.invalid && pass.dirty">
                            <label for="fname" class="control-label">Password</label>
                            <input type="password" class="form-control"
                            name="password"
                            minlength="8"
                            [(ngModel)]="myEmployee.password"
                            #pass="ngModel"
                            (click)="showPass($event)"
                            >
                            <div class="alert alert-danger" *ngIf="pass.invalid && pass.dirty">
                                Min length of Password is 8
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="form-group" [class.has-error]="hasCodeLangError">
                    <label for="clang" class="control-label">Code Lang</label>
                    <select class="form-control"
                        [(ngModel)]="myEmployee.clang"
                        name="clang"
                        id="clang"
                        (blur) = "validateCodeLang()"
                    >
                        <option value="default">Please Select Code Lange</option>
                        <option *ngFor="let lang of language">
                            {{lang}}
                        </option>
                    </select>
                    <div class="alert alert-danger" *ngIf="hasCodeLangError">
                        Please Select Valid Option
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>