<div id="search">
    <div id="logo">
        <span>D!</span>
    </div>
    <div id="heading">
        {{title}}
    </div>
    <div id="dropdown">
        <select (change)="handleCity($event)">
            <option value="default">--SELECT YOUR CITY--</option>
            <option *ngFor="let loc of locationData" [value]="loc.state_id">
                {{loc.state}}
            </option>
        </select>
        <select id="restaurants">
            <option [value]="textNumber">{{keyWord}}</option>
            <option value="2">Wow Momos</option>
        </select>
    </div>
</div>