<div class="container">
    <hr/>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Your order for restaurants {{restName}}</h2>
        </div>
        <div class="panel-body">
            <form #form="ngForm" (submit)="submitForm(form)">
                <input type="hidden" [(ngModel)]="myOrder.cost" name="cost"/>
                <input type="hidden" [(ngModel)]="myOrder.id" name="id"/>
                <input type="hidden" [(ngModel)]="myOrder.hotel_name" name="hotel_name"/>
                <div class="form-group" [class.has-error]="firstname.invalid && firstname.touched">
                    <label for="name" class="control-label">Name</label>
                    <input type="text" class="form-control"
                    name="name" required
                    [(ngModel)]="myOrder.name"
                    #firstname="ngModel"
                    />
                    <div class="alert alert-danger" *ngIf="firstname.invalid && firstname.touched">
                        FirstName is required
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="mail.invalid && mail.dirty">
                            <label for="fname" class="control-label">Email</label>
                            <input type="text" class="form-control"
                            name="email"
                            pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})$"
                            [(ngModel)]="myOrder.email"
                            #mail="ngModel"
                            />
                            <div class="alert alert-danger" *ngIf="mail.invalid && mail.dirty">
                                Please Enter Valid Email
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address" class="control-label">Address</label>
                            <input type="text" class="form-control"
                            name="address"
                            [(ngModel)]="myOrder.address"
                            >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="Phone.invalid && Phone.dirty">
                            <label for="phone" class="control-label">Phone</label>
                            <input type="text" class="form-control"
                            name="phone"
                            minlength="10"
                            [(ngModel)]="myOrder.phone"
                            #Phone="ngModel"
                            >
                            <div class="alert alert-danger" *ngIf="Phone.invalid && Phone.dirty">
                                Min length of Phone is 8
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <h3>Total Cost : Rs.760</h3>
                <button type="submit" class="btn btn-success"  data-toggle="modal" data-target="#paymentModal">
                    Submit
                </button>

                <div id="paymentModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Order Payment for Id {{myOrder.id}}</h4>
                        </div>
                        <div class="modal-body">
                          <p>Procced for Payment Rs. {{myOrder.cost}}</p>
                          <a class="btn btn-info" [href]="url">
                              PayNow
                          </a>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                  
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>
